*{
    padding: 0%;
    margin: 0%;
}

.main{
    
    



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    

    .cards{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .img1{
                height: 500px;
                width: 950px;
                align-items: center;
                justify-content: center;
                text-align: center;
                border: 8px solid rgb(96, 6, 6) ;
                
                

            }
        }

    }

    .container1{
        display: flex;
        .card1{
            display: flex;
            align-items: center;
            justify-content: center;


        .img2{
            display: flex;
            position: absolute;
            bottom: 10px;
            right: 10px;
            height: 450px;
            width: 700px;
            border: 5px solid black ;
        }

        h1{
            position: absolute;
            bottom: 400px;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-size: 40px;
             left: 780px;
             bottom: 270px;
        }
        h2{
            position: absolute;
            bottom: 350px;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-size: 40px;
            left: 740px;
            bottom: 230px;
            

        }

        p{
            position: absolute;
            
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-size: 20px;
            bottom:30px;
            left: 690px;
            width: 300px;
            
            

           
        


        }

        img{
            position: absolute;
            bottom: 30px;
            right: 20px;
            
            display: flex;
            height: 400px;
            
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 2px solid black;
            
        }
        }
    }

    .container2{
        display: flex;
        .card2{
            display: flex;
            align-items: center;
            justify-content: center;


        .img3{
            display: flex;
            position: absolute;
            top: 5px;
            right: 540px;
            height: 450px;
            width: 720px;
            left: 10px;
            border: 5px solid black;
        }

        h1{
             
            position: absolute;
            bottom: 400px;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-size: 50px;
             left: 40px;
             top: 0px;
            }

            p{
                 
                position: absolute;
            
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-size: 20px;
            top: 180px;
            
            left: 40px;
            width: 300px;

            }
img{


            position: absolute;
           top: 30px;
            right: 20px;
            
            display: flex;
            height: 400px;
            width: 300px;
            left: 400px;
            
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 2px solid black;
            }



    
}
    }



}





   




    

